@font-face {
  font-family: "Visby Round";
  src: url("./Polices/VisbyRoundCF-Heavy.otf");
}

html {
  scroll-behavior: smooth;
  margin-bottom: 10px;
}

body {
  margin: 0;
  background-color: #070707ee;
}

#wrapperBoutonJouer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  backdrop-filter: blur(10px);
}

#boutonJouer {
  position: fixed;
  width: 200px;
  height: 50px;
  left: calc(50vw - 100px);
  top: calc(50vh - 35px);
  border-radius: 10px;
  background-color: #ffffff;
  color: #ffa600;
  box-shadow: #ffffff88 0 0 5px 2px;
  text-align: center;
  line-height: 50px;
  font-family: "Visby Round", "Gotham Black", "Grandview", "Impact", sans-serif,
    serif, system-ui;
  transition: transform 0.5s ease-in-out, color 0.2s ease-in,
    background-color 0.2s ease-out, box-shadow 0.2s ease;
}

#boutonClassement {
  position: fixed;
  width: 200px;
  height: 50px;
  left: calc(50vw - 100px);
  top: calc(50vh + 35px);
  border-radius: 10px;
  background-color: #ffffff;
  color: #ffa600;
  box-shadow: #ffffff88 0 0 5px 2px;
  text-align: center;
  line-height: 50px;
  font-family: "Visby Round", "Gotham Black", "Grandview", "Impact", sans-serif,
    serif, system-ui;
  transition: transform 0.5s ease-in-out, color 0.2s ease-in,
    background-color 0.2s ease-out, box-shadow 0.2s ease;
}

#boutonJouer:hover {
  cursor: pointer;
  transform: scale(110%);
  color: #ffffff;
  background-color: #ffa600;
  text-shadow: #000000 0 0 2px;
  box-shadow: #ffa60088 0 0 5px 2px;
}

#boutonClassement:hover {
  cursor: pointer;
  transform: scale(110%);
  color: #ffffff;
  background-color: #ffa600;
  text-shadow: #000000 0 0 2px;
  box-shadow: #ffa60088 0 0 5px 2px;
}

#entete,
#div_score {
  width: 780px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: "Visby Round", "Gotham Black", "Grandview", "Impact", sans-serif,
    serif, system-ui;
}

#entete {
  font-size: 300%;
  color: #ae87db;
}

#div_score {
  font-size: 200%;
  color: #8788db;
  border-radius: 10px;
  background-color: #070707;
  margin-bottom: 10px;
}

#score {
  color: #ffa600;
}

#zonejeu {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
}

.case {
  width: 20px;
  height: 20px;
  float: left;
  box-sizing: border-box;
}

.croix {
  position: fixed;
  top: 10px;
  right: 10px;
  font-family: "Visby Round", "Gotham Black", "Grandview", "Impact", sans-serif,
    serif, system-ui;
  font-size: 20pt;
  font-weight: bold;
  color: #d80000;
}

.croix:hover {
  cursor: pointer;
  font-weight: bolder;
}

#tableauClassement {
  margin: auto;
  width: fit-content;
  height: fit-content;
  background-color: #ffffffdd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Visby Round", "Gotham Black", "Grandview", "Impact", sans-serif,
    serif, system-ui;
  font-size: 14pt;
  color: #000000;
  padding: 10px;
}

#tableauClassement caption {
  background-color: #ffffffdd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 50px;
  padding-top: 10px;
}

#tableauClassement td {
  text-align: center;
}

#tableauClassement td:nth-child(1) {
  width: 15%;
}

#tableauClassement td:nth-child(2) {
  width: 35%;
}

#tableauClassement td:nth-child(3) {
  width: 15%;
}

#tableauClassement td:nth-child(4) {
  width: 35%;
}

#tableauClassement th {
  width: 100vh;
  display: contents;
  background-color: transparent;
}

#tableauClassement th > td {
  background-color: #ff8888dd;
  padding-left: 20px;
  padding-right: 20px;
}

#tableauClassement th > td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#tableauClassement th > td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}